
body {
	background-image: url("lightwood.jpg");

	font-family:'Shadows Into Light', cursive;
/*	background: #bdc3c7;*/
	margin: auto;
	max-width: 800px;
	width: 70%;
	color: #505050;
}
ul {
	color: yellow;
	font-size:25px;
	text-align: center;
}

ul li {
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	font-size: 70px;
	text-align: right;
	border-bottom: 2px solid #f1f1f1;
}


li a {
	color: #505050;
}

li a:hover {
	font-size: 1.5em;
}

a {
	color: #ff66cc;
}

/*li:nth-of-type(5) {
	background: grey;
}*/
hr {
	border: 0;
	height: 2px;
	background-color: #f1f1f1;
	background-image: linear-gradient(to right);
}